/* For navbar */
.nav-logo{
    width: 80px;
}

.characterCard{
    width: 400px;
}

/* Wrapper */
.wrapper{
    list-style: none;
    display: flex;
    overflow-x: auto;
}

.listBox{
    width: 100%;
    height: 425px;
}

